@media screen and (max-width: 350px) and (min-width: 320px) {
  .whats_hot .hot_news p {
    font-size: 25px !important;
    text-align: left;
    width: 95%;
  }

  span.title.d-flex.flex-column {
    margin-bottom: 140px !important;
  }

  .title span.author p.text-muted {
    margin-top: 20px !important;
  }

  header#mainHeader {
    width: 100% !important;
  }
  nav#nav {
    width: 100% !important;
    padding-right: 30px !important;
  }

  .carousel.carousel-1.position-relative {
    max-width: inherit !important;
  }

  .carousel_content {
    left: 120px !important;
  }

  card.video.position-relative.col-lg-3.px-0.mx-0 {
    width: 450px !important;
    height: 300px !important;
  }
  .videos .img-overlay {
    /* max-width: 250px !important; */
    width: 300px !important;
    height: 250px !important;
    border-radius: 15px !important;
  }
  .video img.card-img-top {
    max-width: 350px !important;
    width: 300px !important;
    height: 250px !important;
  }
  .video button.btn {
    right: 20px;
  }

  footer.footer.container-fluid.p-5 {
    height: 100% !important;
    max-height: 480px !important;
  }
}

@media (max-width: 480px) {
  .header.active {
    width: 530px !important;
  }
  header {
    width: 100%;
  }
  .site-lang-english,
  .toggle-themes {
    display: flex !important;
  }
  header ul li {
    display: none !important;
  }

  header .row.secondary-menu ul {
    padding: 0px !important;
    margin: 0px 20px !important;
  }

  /* nav */
  nav.nav {
    width: 100%;
  }

  /* slider */
  .slider {
    width: 500px !important;
    /* max-width: 1400px !important; */
    height: 400px;
    margin-top: 80px !important;
  }

  .slider .carousel .carousel_content {
    bottom: 10px !important;
    left: 140px;
    padding: 0px !important;
  }

  .content-latestnews-group {
    display: none !important;
  }

  /* carousel */
  .carousel.carousel-1.position-relative {
    position: absolute !important;
    width: 600px !important;
    height: 400px !important;
    left: -80px;
  }
  .main-text h1.text-white {
    font-size: 50px !important;
    line-height: 130%;
  }

  main.container-fluid {
    width: 500px;
  }

  .slider .overlay {
    display: none;
  }

  /* main */
  main.container-fluid {
    padding: 0px !important;
    width: 500px !important;
    background-color: white !important;
  }

  main .row.main_news_content {
    background: white !important;
  }

  main .row.main_news_content .bg-white {
    height: auto !important;
    width: 500px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .ads {
    display: none;
  }

  div#pills-tabContent {
    width: 100% !important;
  }

  /* whats rising */

  .whats_rising .news_1 {
    margin: 0px !important;
    align-items: center;
    height: 500px !important;
  }

  .title span.author p.text-muted {
    font-size: 14px !important;
  }

  main .whats_rising .title p {
    font-size: 25px !important;
    line-height: 30px;
    margin-bottom: 40px;
  }

  .whats_rising img,
  .whats_rising .position-relative {
    width: 450px !important;
    height: 300px !important;
  }

  div#pills-whatsrising {
    max-width: 500px !important;
    align-items: center;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  /* whats hot */
  .hot_news img {
    height: 300px !important;
    width: 450px !important;
  }

  .whats_hot .hot_news {
    height: 500px;
    display: flex;
    align-items: center;
    width: 500px;
  }

  div#pills-whatshot {
    width: 500px !important;
  }

  /* row load-more-button */
  .row.load_more.my-5 {
    margin: 0px !important;
    margin-bottom: 60px !important;
  }

  /* video */
  .videos_container {
    flex-direction: column;
    align-items: center;
    margin: 0px auto 60px auto !important;
    justify-content: center;
  }
  .videos .title {
    margin: 0px 25px;
  }
  card.video {
    width: 450px !important;
    height: 300px !important;
    max-width: 450px !important;
    margin: 10px auto !important;
  }

  .videos .img-overlay {
    bottom: -10px;
    left: -10px !important;
    width: 450px !important;
    height: 200px !important;
    margin: 0px 10px;
    border-radius: 10px;
  }

  .video img.card-img-top {
    align-items: center;
    max-width: 500px !important;
    align-content: center;
    margin: 10px auto;
    width: 450px !important;
    height: 300px !important;
  }

  .video button.btn {
    top: 20px;
    right: 15px;
  }
  p.card-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.05em;
  }
  /* article what's- */
  .mobile.news.d-none {
    display: flex !important;
    background: #e6e6e6 !important;
    width: 85% !important;
    /* margin: 10px auto 30px auto; */
    margin: 10px auto 30px 45px;
    height: 40px !important;
    padding: 0px;
  }

  ul#pills-tab {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 40px !important;
    align-content: center;
    align-items: center;
    width: 500px !important;
    /* padding: 10px !important; */
  }

  ul#pills-tab a {
    font-size: 12px !important;
    font-weight: 700;
  }

  .mobile .nav li.nav-item {
    width: auto !important;
    margin: 0px !important;
  }

  .mobile ul.nav a {
    color: black !important;
    font-size: 10px;
    font-family: 'Montserrat' !important;
  }

  .nav-pills .nav-link.active {
    background: white !important;
    color: black !important;
    font-size: 12px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    width: 135px;
    font-weight: bold;
    text-align: center !important;
    height: 36px;
  }

  /* footer */
  footer.footer {
    width: 500px !important;
    height: 100% !important;
  }
  footer.footer .blog {
    order: 2;
    margin-top: 30px;
  }
  footer.footer .blog p {
    font-size: 16px;
  }
  footer.footer h6.text-white {
    font-size: 19px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .hideme_mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  div#pills-whatsnews {
    display: none !important;
  }
}
