* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
}

ul li {
  list-style: none;
  margin: 0px 5px;
  color: white;
}

img {
  cursor: pointer;
}

body {
  background: rgba(0, 0, 0, 0.03);
  width: 100% !important;
}

main.container-fluid {
  padding: 25px 60px;
}

/* header */
ul.menu-links li {
  display: flex;
}

header ul.menu-links.d-flex {
  align-items: center;
  height: 32px !important;
  margin: 0px;
}

header {
  height: 32px !important;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

header .menu-links a {
  font-size: 14px;
  margin: 0px 7px;
}

header.social_icon-links {
  height: 32px;
}

header ul.social_icon-links li {
  display: flex;
  align-items: center;
}

header .row.secondary-menu {
  background: black !important;
  height: 32px !important;
}

a:hover {
  text-decoration: none !important;
  color: red;
}

li a {
  color: white;
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 48px !important;
}

nav.nav {
  z-index: 1000;
  top: 30px !important;
  position: fixed;
}

nav.nav.visible {
  position: fixed;
  z-index: 2000;
  top: 0px !important;
  transition-property: width;
  transition-duration: 2s;
  animation-direction: alternate;
  transition-timing-function: linear;
  transition-delay: 1s;
}

nav .row {
  height: 48px;
  align-items: center;
}

nav span.search {
  height: 30px;
}

nav .site-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #171821;
  line-height: 34.13px;
}

button.duration {
  top: 10px;
  right: 10px;
}

.controls div {
  height: 30px;
  background-color: white;
}

#main .videos_container.d-flex.px-0 {
  align-items: center;
  height: 250px;
  align-content: center;
  width: 100% !important;
  flex-direction: row;
}

card.video {
  cursor: pointer;
  max-width: 265px !important;
  margin: 10px !important;
  height: 209.78px;
}

.videoclip {
  position: absolute;
  bottom: 0px;
  color: white;
  font-weight: 600;
  z-index: 300;
}

.video img.card-img-top {
  max-width: 100% !important;
  height: 100% !important;
}
.videos .img-overlay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0px;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.01) 100%);
}

/* slider */
.slider {
  padding-top: 30px !important;
}
.carousel {
  background-size: cover !important;
  height: 650px !important;
  width: 100% !important;
  z-index: 0;
  margin-top: 10px !important;
}

.carousel-1 {
  background-image: url('../images/Mask.png') !important;
  background-size: cover !important;
}

.carousel .overlay {
  position: absolute;
  bottom: 0px;
  z-index: 100;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.01) 100%);
  width: 100%;
  height: 400px;
}

.carousel_content {
  position: absolute;
  bottom: 0px;
  z-index: 200;
  padding: 0px 120px !important;
}

.carousel_news p {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  color: #cccccc;
}

.carousel_news h4 {
  color: white;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
}

.carousel_news span p {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #cccccc;
}

.main-text .text {
  margin-top: -20px !important;
}

.main-text p {
  width: 108px;
  height: 20.75px;
  padding: 5px;
  background-color: black;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #e6e6e6;
}

.content-lastest-news.d-flex {
  animation-name: smart_animate;
  animation-duration: 50ms;
  animation-timing-function: ease-out;
}

.content-lastest-news img {
  width: 87.5px !important;
  height: 87.5px !important;
  margin: 10px;
  border-radius: 15px !important;
}

.carousel_content .main-text h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 96.4%;
}

/* ads */
.ads {
  background-image: url('../images/ad.png');
  cursor: pointer;
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  width: 728px;
  height: 90px;
}

/* main */
.main_news_content h1 {
  font-size: 25px;
  font-weight: 1000;
}

main .row.main_news_content .bg-white {
  height: auto !important;
}

main .row.main_news_content h1.text-center {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #171821;
}

/* whats_new */
.whats_new {
  background-color: white !important;
  padding: 10px 0px !important;
  /* margin: 0px 10px; */
  /* max-width: 350px !important; */
}

.whats_new img {
  width: 88px !important;
  height: 88px !important;
}

.news_highlight h5,
.whats_rising p,
.hot_news p {
  font-size: 14px !important;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #171821;
}

.news_highlight p,
.whats_rising .author p,
.hot_news .author p {
  font-size: 0.7em !important;
  font-weight: 1000;
}

.news_highlight .title {
  margin-left: 20px;
  margin-top: 20px;
}

.news_highlight .author p.text-muted,
.author span {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: #83858f;
}

.title span.author p.text-muted {
  font-weight: 600;
  font-size: 10px !important;
  line-height: 15px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  color: #83858f !important;
}

.title span.author p.text-primary {
  font-weight: 600;
  font-size: 10px !important;
  line-height: 15px;
  text-transform: uppercase;
}

main .whats_rising .title p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px !important;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: #171821;
}

/* whats_rising */
.whats_rising {
  padding: 10px !important;
  max-width: 350px !important;
  margin: 0px 20px;
}
.whats_rising .title {
  margin-top: 20px !important;
  width: 80% !important;
  margin: auto;
}
.whats_rising .news_1 {
  position: relative;
  padding: 0px !important;
  height: 375px;
}

.whats_rising .news_1 button {
  position: absolute;
  bottom: 10px;
  border-radius: 5px !important;
  height: 24px;
  left: 10px;
  width: 64px !important;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  background: #3e3edd !important;
}

.whats_rising .news_1 .position-relative,
.whats_rising .news_1 img {
  height: 260px !important;
  width: 304px !important;
  border-radius: 5px !important;
}

.whats_rising .news_1.bg-white {
  height: 400px !important;
}

/* whats_hot */
main#article-section .bg-white {
  padding-top: 0px !important;
}

main#article-section .bg-white h1 {
  margin: 20px !important;
}

.whats_hot .hot_news {
  position: relative;
}
.whats_hot .hot_news button {
  position: absolute;
  background: #19c22a;
  width: 77px !important;
  height: 24px;
  border-radius: 5px;
  bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  left: 10px;
}

.whats_hot .hot_news .position-relative,
.whats_hot .hot_news img {
  width: 425px !important;
  height: 300px !important;
}

.whats_hot .hot_news .title {
  width: 85% !important;
  margin: 15px auto;
}
.whats_hot .hot_news .author p {
  font-size: 0.7em !important;
}

.whats_hot .hot_news p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 39px;
  letter-spacing: -0.05em;
}

/* footer */

footer.footer {
  background-color: #171821 !important;
}

.footer_news .rounded-circle {
  width: 200px !important;
  height: 100px;
  background-color: white !important;
  margin: auto;
}

.footer_news .news_text {
  font-size: 14px !important;
  cursor: pointer;
}

.footer_news .text-muted {
  font-size: 10px !important;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

footer p.text-muted.my-4 {
  font-size: 13px;
}

footer span.social_icons i {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 5px !important;
  color: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
footer.footer a {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}
footer.footer .blog p {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-size: 19px;
  line-height: 19px;
  color: #83858f;
}
footer span.social_icons .fa-facebook {
  background-color: #36528c;
}
footer span.social_icons .fa-twitter {
  background-color: #55acee;
}
footer span.social_icons .fa-google-plus-official {
  background-color: #de4b39;
}
footer span.social_icons .fa-instagram {
  background-color: #c13282;
}
.footer_news_content p {
  color: white;
}

.footer-links {
  padding: 0px;
  margin: 0px;
}

footer form button.btn.btn-primary.bg-primary {
  height: 48px !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -4px;
}

footer .col-lg-4 {
  padding-left: 70px;
}

footer input.form-control {
  width: 200px;
}

/* https://www.figma.com/file/MFkxfcvF5baGOWu03ZE8yo/OD-Blog?node-id=0%3A1 */
