@media (max-width: 480px) {
  header {
    width: 100%;
  }
  .site-lang-english,
  .toggle-themes {
    display: flex !important;
  }
  header ul li {
    display: none !important;
  }

  header .row.secondary-menu ul {
    padding: 0px !important;
    margin: 0px 20px !important;
  }

  /* nav */
  nav.nav {
    width: 100%;
  }

  /* slider */
  .slider {
    width: 500px !important;
    /* max-width: 1400px !important; */
    height: 400px;
    margin-top: 80px !important;
  }

  .slider .carousel .carousel_content {
    bottom: 10px !important;
    left: 140px;
    padding: 0px !important;
  }

  .content-latestnews-group {
    display: none !important;
  }

  /* carousel */
  .carousel.carousel-1.position-relative {
    position: absolute !important;
    width: 580px !important;
    height: 400px !important;
    left: -80px;
  }
  .main-text h1.text-white {
    font-size: 50px !important;
    line-height: 130%;
  }

  main .container-fluid {
    width: 500px;
  }

  .slider .overlay {
    display: none;
  }

  /* main */
  main.container-fluid {
    padding: 0px !important;
    width: 500px !important;
    background-color: white !important;
  }

  main .row.main_news_content .bg-white {
    height: auto !important;
  }
  .ads {
    display: none;
  }

  /* whats hot */
  .hot_news img {
   height: 300px !important;
    width: 450px !important;
  }

  div#pills-whatshot {
    width: 500px !important;
}

  /* video */
  .videos_container {
    flex-direction: column;
    align-items: center;
    margin: 30px auto !important;
    justify-content: center;
  }

  card.video {
    width: 450px !important;
    height: 300px !important;
    max-width: 450px !important;
    margin: 10px auto !important;
  }

  .videos .img-overlay {
    bottom: -10px;
    left: -10px !important;
    width: 450px !important;
    height: 200px !important;
    margin: 0px 10px;
  }

  .video img.card-img-top {
    align-items: center;
    max-width: 500px !important;
    align-content: center;
    margin: 10px auto;
    width: 450px !important;
    height: 300px !important;
  }

  .video button.btn {
    top: 20px;
    right: 15px;
  }
  p.card-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.05em;
  }
  /* article what's- */
  .mobile.news.d-none {
    display: flex !important;
    background: #e6e6e6 !important;
    width: 80% !important;
    margin: 10px auto;
    padding: 0px 5px;
}
  }

  ul#pills-tab {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 40px !important;
    align-content: center;
    align-items: center;
    width: 400px !important;
    /* padding: 10px !important; */
  }

  .mobile .nav li.nav-item {
    width: 120px !important;
    font-size: 12px;
    padding: 0px !important;
    margin: 0px !important;
    height: 40px;
    font-weight: bold;
    align-content: center !important;
    align-items: center;
    display: flex;
  }

  .mobile ul.nav a {
    color: black !important;
    font-size: 10px;
    font-family: 'Montserrat' !important;
  }

  .nav-pills .nav-link.active {
    background: white !important;
    color: black !important;
    margin: 0px !important;
    border-radius: 0px !important;
    width: 109px;
    text-align: center !important;
    height: 36px;
  }

  /* footer */
  footer.footer {
    background-color: black !important;
    width: 100% !important;
    width: 500px !important;
  }
}
