span.hamburger_logo {
  display: none;
}

@media (max-width: 560px) {
  header .row.secondary-menu.active {
    width: 100% !important;
    max-width: 530px;
  }
  /* hamburger */
  nav .hamburger_logo {
    top: 15px;
    left: 35px;
    height: 20px;
  }
  nav.nav .row.primary-menu {
    padding: 0px 10px 0px 45px !important;
    width: 100% !important;
  }

  span.search i {
    font-size: 1.6em !important;
  }

  img#hamburger {
    height: 20px;
    margin-top: -10px;
  }
  span.hamburger_logo {
    display: block;
  }
  /* The side navigation menu */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50000;
    top: 30px;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background: white;
  }

  div#sidebarOverlay {
    height: 100% !important;
  }

  .sidebar_overlay.active {
    background: rgba(0, 0, 0, 0.65);
    opacity: 1 !important;
    width: 550px;
    top: 30px;
    transition: 0.5s;
    z-index: 1200;
    position: fixed;
    right: 0px !important;
  }

  /* The navigation menu links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */

  #main.active {
    transition: margin-left 0.5s;
    overflow: hidden;
    padding: 20px;
    width: 100% !important;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }

  #sidenav ul.menu-links li.site-name {
    border-bottom: 0px !important;
  }

  #sidenav ul.menu-links li {
    border-bottom: 1px solid #d8d8d8 !important;
    padding: 0px !important;
    display: flex !important;
    width: 250px;
    align-items: flex-end;
    height: 50px;
  }

  #sidenav li.site-name a {
    font-size: 26px !important;
    font-weight: bolder !important;
    line-height: 26px !important;
  }

  #sidenav li.site-name {
    margin: -15px 0px 30px 0px;
  }

  #sidenav ul.menu-links a {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #54555e !important;
  }

  #sidenav ul.menu-links {
    height: 100vh !important;
    background: white;
    flex-direction: column;
    width: 50vh;
    padding-left: 0px !important;
  }
}
