nav#nav.darkMode,
nav#nav.darkMode .row {
  background: #21374b !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

nav#nav.darkMode h1 {
  color: white !important;
}

/* main */
main.darkMode .bg-white p,
main.darkMode .bg-white h1,
main.darkMode .bg-white h5 {
  color: white !important;
}

main.darkMode .bg-white {
  background-color: #21374b !important;
}

main#main.darkMode {
  background-color: #1b2c3a !important;
}

/* button */
.load_more button.darkMode {
  background-color: #2d95e3 !important;
}

/* arrow group */
span.arrow-group.controls.darkMode div {
  height: 30px;
  background: #21374b;
  border-radius: 5px;
  color: white;
}

/* footer form */
form.darkMode input.footer-form {
  background: #15202b;
  border: 1px solid #171821;
  box-sizing: border-box;
  border-radius: 5px;
}
