ul li {
  list-style: none;
  margin: 0px 5px;
  color: white;
}

a:hover {
  text-decoration: none !important;
}

li a {
  color: white;
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  font-family: 'Montserrat', sans-serif;
}

button.duration {
  top: 10px;
  right: 30px;
}

.videoclip {
  position: absolute;
  bottom: 0px;
  color: white;
  font-weight: 600;
}

/* slider */
.carousel-1 {
  background-image: url('./images/Mask.png');
  background-size: cover;
  height: 650px !important;
  width: 100% !important;
}

/* main */
.main_news_content h1 {
  font-size: 25px;
  font-weight: 1000;
}

/* whats_rising */
.whats_rising {
  padding: 0px !important;
}
.whats_rising .news_1 {
  position: relative;
  padding: 0px !important;
  height: 400px;
}

.whats_rising .news_1 button {
  position: absolute;
  bottom: 130px;
  left: 10px;
}

.whats_rising .news_1 img {
  height: 300px;
  width: 300px;
}

/* whats_hot */
.whats_hot .hot_news {
  position: relative;
}
.whats_hot .hot_news button {
  position: absolute;
  bottom: 130px;
  left: 10px;
}

.hot_news img {
  height: 400px !important;
  width: 500px !important;
}

.news_highlight .title.d-flex.flex-column.mb-3 {
  margin-left: 20px;
  margin-top: 20px;
}

.news_highlight .author.d-flex p {
  font-size: 10px;
}

/* footer */

footer.footer {
  background-color: black !important;
}

.footer_news img {
  width: 100px !important;
  height: 100px;
}

.footer_news .news_text {
  font-size: 14px !important;
}

.footer_news .text-muted {
  font-size: 10px !important;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

footer span.social_icons i {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px !important;
  color: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

footer span.social_icons .fa-facebook {
  background-color: darkblue;
}
footer span.social_icons .fa-twitter {
  background-color: skyblue;
}
footer span.social_icons .fa-google-plus-official {
  background-color: orange;
}
footer span.social_icons .fa-instagram {
  background-color: pink;
}
.footer_news_content p {
  color: white;
}

.footer-links {
  padding: 0px;
  margin: 0px;
}

footer form button.btn.btn-primary.bg-primary {
  height: 50px !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -4px;
}

footer .col-lg-4 {
  padding-left: 70px;
}

footer input.form-control {
  width: 200px;
}

/* https://www.figma.com/file/MFkxfcvF5baGOWu03ZE8yo/OD-Blog?node-id=0%3A1 */
